*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f1923;
    color:#fff;
}

header{
    background:#ff4655;
    padding:25px;
    text-align:center;
}

header h1{
    font-size:30px;
}

header p{
    margin-top:8px;
    font-size:18px;
}

nav{
    display:flex;
    justify-content:center;
    gap:20px;
    background:#111;
    padding:15px;
    flex-wrap:wrap;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:#ff4655;
}

.banner{
    text-align:center;
    padding:60px 20px;
}

.banner h2{
    font-size:38px;
    margin-bottom:15px;
}

.banner p{
    font-size:20px;
}

.card{
    width:90%;
    max-width:700px;
    margin:25px auto;
    background:#1d2733;
    padding:25px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,.5);
}

.card h2{
    color:#ff4655;
    margin-bottom:15